name: Deploy Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Zip Lambda function
        run: |
          cd step4_ci_cd_build/lambda_function
          zip -r function.zip .
          mv function.zip ../../function.zip

      - name: Deploy to AWS Lambda
        run: |
          aws lambda update-function-code \
            --function-name step3_hello_lambda \
            --zip-file fileb://function.zip
